.html {
  background: center / contain no-repeat url('../assets/html-5.svg');
}

.css {
  background: center / contain no-repeat url('../assets/css-3.svg');
}

.sass {
  background: center/ contain no-repeat
    url('https://cdn.svgporn.com/logos/sass.svg');
}

.react {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/react.svg');
}

.typescript {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/typescript-icon.svg');
  border-radius: 10px;
}

.express {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/express.svg');
}

.javascript {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/javascript.svg');
  border-radius: 10px;
}

.npm {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/npm.svg');
}

.postgresql {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/postgresql.svg');
}

.firebase {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/firebase.svg');
}

.nodejs {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/nodejs.svg');
}

.about {
  background: white;
  padding: 15vh 0;
  i.fas,
  i.fab,
  i {
    width: $iconSizeSm;
    height: $iconSizeSm;
    display: block;
    margin: 0 auto;
  }

  &__heading {
    font-size: 2em;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }

  &__profile-picture-container {
    position: relative;
    margin-bottom: 2rem;
  }

  &__profile-picture {
    width: 150px;
    border-radius: 50%;
    transition: border-color 200ms ease-in-out;
    position: relative;
    z-index: 2;
  }

  &__blurb {
    max-width: 500px;
    text-align: left;
    margin: 0 auto 2rem;
    background: rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 7px;
    box-shadow: $inset-shadow;
    font-size: 1.2em;
  }

  &__container {
    width: 960px;
    max-width: 90vw;
    margin: 0 auto;
  }

  &__skill-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__skill-item {
    margin: 1rem;
  }
}
