.contact {
  background: white;
  color: black;
  padding: 50px 0;

  &__container {
    width: 800px;
    max-width: 90vw;
    margin: 0 auto;
  }

  &__heading {
    font-size: $section-heading-size;
  }

  &__form {
    width: 100%;
    margin: 0 auto;
  }
}
