.footer {
  padding: 5vh 0;
  background: rgb(224, 224, 224);

  &__link-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(1rem, 1fr));
    gap: 2.5rem;
    max-width: 400px;
  }
}
