.projects {
  padding: 10vh 0;
  color: white;

  &__container {
    width: 800px;
    max-width: 90vw;
    margin: 0 auto;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 8vw;
    }
  }

  &__heading {
    font-size: 2em;
    margin-bottom: 2rem;
  }
}

.project {
  margin: 1rem 0;

  &__body {
    color: white;
    transition: background 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
  }

  &__links {
    display: flex;
  }

  &__title {
    font-size: 1.25em;
    margin: 0;
  }

  &__description {
    text-align: left;
  }

  &__img_wrapper {
    margin-bottom: 1rem;
  }

  &__img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    object-position: center top;
    border-radius: 8px;
  }

  &__live-link {
    margin-left: 0.75rem;
  }

  &__github-icon {
    margin-left: 0.75rem;
  }

  a:visited,
  a:link {
    color: white;
  }
}
