// Save this transition!! Very smooth and natural
$smooth-transition: all 325ms cubic-bezier(0.075, 0.82, 0.165, 1) 2ms;

.projects {
  background-color: #fdd835;
  color: white;
  padding: 50px 0;

  &__container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2.5vw;
    }
  }

  .section-heading {
    color: rgba(40, 40, 40);
    text-align: center;
  }
}

.project {
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 10px 0.5rem -0.5rem rgba(0, 0, 0, 0.25);
  margin-bottom: 4rem;
  background-color: rgba(255, 255, 255);
  color: rgba(0, 0, 0);

  &__img {
    transition: $smooth-transition;
    border-radius: 8px;
    position: relative;
    height: 350px;
    object-fit: cover;
    width: 100%;

    &:hover {
      transform: scale(0.975);
    }
  }

  &__links-container {
    display: flex;
    padding-left: 0.5rem;

    .link {
      color: rgba(0, 0, 0, 0.87);
      font-size: 0.8125rem;
      line-height: 1.75;
      margin-right: 2em;
      text-transform: uppercase;
      padding: 0.75rem;
      border-radius: 0.25em;
      transition: $smooth-transition;

      &:hover,
      &:focus-visible {
        background-color: rgba(0, 0, 0, 0.125);
      }
    }
  }

  &__details-container {
    padding-inline: 1rem;
  }

  &__title {
    font-weight: 100;
    text-align: left;
    font-size: 1.75em;
  }

  &__description {
    text-align: left;
  }

  &__commits {
    text-transform: uppercase;
  }

  button,
  span {
    margin-right: 1.5rem;
  }
}
