input,
select,
textarea {
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  -webkit-font-smoothing: antialiased;
}

.button {
  line-height: 1.5;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  padding: 6px 16px;
  font-family: inherit;
  cursor: pointer;
  transition: all 120ms ease-out;
}

.container-sm {
  max-width: 640px;
  margin: 0 auto;
}

.container-md {
  width: 960px;
  max-width: 95vw;
  margin: 0 auto;
}

.horizontal-rule {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.2;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section-heading {
  max-width: 100%;
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  text-shadow: 1px 4px 2px rgba(0, 0, 0, 0.2), -2px 3px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 360px) {
  .section-heading {
    font-size: 5rem;
  }
}

@media screen and (min-width: 414px) {
  .section-heading {
    font-size: 6rem;
  }
}
