body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.App {
  position: relative;
  text-align: center;
  scroll-behavior: smooth;
  font-family: "sofia-pro", "Recursive", "Roboto Mono", "Roboto", "Helvetica Neue", "Helvetica", "sans-serif";
}

input,
select,
textarea {
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  -webkit-font-smoothing: antialiased;
}

.button {
  line-height: 1.5;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  padding: 6px 16px;
  font-family: inherit;
  cursor: pointer;
  transition: all 120ms ease-out;
}

.container-sm {
  max-width: 640px;
  margin: 0 auto;
}

.container-md {
  width: 960px;
  max-width: 95vw;
  margin: 0 auto;
}

.horizontal-rule {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.2;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section-heading {
  max-width: 100%;
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  text-shadow: 1px 4px 2px rgba(0, 0, 0, 0.2), -2px 3px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 360px) {
  .section-heading {
    font-size: 5rem;
  }
}
@media screen and (min-width: 414px) {
  .section-heading {
    font-size: 6rem;
  }
}
.navbar {
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  color: white;
}
.navbar__wrapper {
  display: flex;
  padding: 1rem;
}
.navbar button {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
  padding: 0.125rem;
}
.navbar button:focus {
  outline: 1px dotted rgba(255, 255, 255, 0.8);
  outline-offset: 0.5em;
}
.navbar button span {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  border-radius: 3px;
}
.navbar button span::before, .navbar button span::after {
  transition: transform 140ms ease-in-out;
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  position: absolute;
  border-radius: 3px;
  transform: rotate(0) translateY(0);
}
.navbar button span::before {
  transform: translateY(-9px);
}
.navbar button span::after {
  transform: translateY(9px);
}
.navbar button span.menu-open {
  opacity: 1;
  background-color: transparent;
}
.navbar button span.menu-open::before {
  transform: rotate(45deg);
}
.navbar button span.menu-open::after {
  transform: rotate(-45deg);
}

.nav__toggle-container {
  cursor: pointer;
  display: flex;
  background: rgba(255, 255, 255, 0.85);
  padding: 0.75rem 1rem;
}
.nav__menu {
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 1rem;
  transform: scaleY(0);
  transition: transform 125ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transform-origin: top;
}
.nav__menu.is-open {
  transform: scaleY(1);
}
.nav__link {
  color: black;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 0.75rem;
  transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.nav__link:hover {
  transform: translateX(2px);
}

.list-item-text {
  text-align: left;
  color: white;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 2;
  margin-left: 1.25em;
}

.hero {
  position: relative;
  min-height: 500px;
  background: center/cover no-repeat url("https://images.pexels.com/photos/2120040/pexels-photo-2120040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  color: white;
  box-shadow: inset 0 0 0vmax 0vmax rgba(0, 0, 0, 0.425);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  animation: fadeInShadow 1200ms cubic-bezier(0.19, 1, 0.22, 1) forwards 0ms;
}
.hero__text-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5vw;
}
.hero__title {
  font-size: 2.375rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}
@media (min-width: 600px) {
  .hero__title {
    font-size: 2.9167rem;
  }
}
@media (min-width: 960px) {
  .hero__title {
    font-size: 3.333rem;
  }
}
.hero__subtitle {
  margin: 0;
  font-weight: normal;
  color: rgba(48, 245, 252, 0.685);
  text-shadow: 0px 0px 0.25em currentColor;
}
.hero__down-arrow {
  cursor: pointer;
  position: absolute;
  bottom: 6vh;
  transform: translate(-50%, 0);
  opacity: 0.8;
  filter: drop-shadow(0px 2px 0.5rem rgba(0, 0, 0, 0.85));
  transition: all 250ms ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 1rem;
  border-radius: 50%;
}
.hero__down-arrow:hover, .hero__down-arrow:focus {
  opacity: 1;
  transform: translate(-50%, -1px);
}
.hero__down-arrow svg {
  transition: 150ms ease-out;
}

@keyframes fadeInShadow {
  0% {
    box-shadow: inset 0 0 100vmax 100vmax rgba(0, 0, 0, 0.425);
  }
  100% {
    box-shadow: inset 0 0 100vmax 100vmax rgba(0, 0, 0, 0.825);
  }
}
.html {
  background: center/contain no-repeat url("../assets/html-5.svg");
}

.css {
  background: center/contain no-repeat url("../assets/css-3.svg");
}

.sass {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/sass.svg");
}

.react {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/react.svg");
}

.typescript {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/typescript-icon.svg");
  border-radius: 10px;
}

.express {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/express.svg");
}

.javascript {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/javascript.svg");
  border-radius: 10px;
}

.npm {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/npm.svg");
}

.postgresql {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/postgresql.svg");
}

.firebase {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/firebase.svg");
}

.nodejs {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/nodejs.svg");
}

.about {
  padding: 4rem 0;
  background: white;
}
.about__layout-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about__layout-wrapper .section-heading {
  grid-column: 1/-1;
  margin-inline: auto;
}
.about__skills-and-tools {
  grid-column: 1/-1;
}
.about i {
  width: 3.4rem;
  height: 3.4rem;
  display: block;
  margin: 0 auto;
}
.about__card {
  grid-column: 1/-1;
  margin-bottom: 4rem;
  margin-inline: auto;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 0.5rem -0.5rem, 0px 0px 5px 0px rgba(37, 29, 29, 0.125), 0px 0px 25px -1px rgba(0, 0, 228, 0.15);
  overflow: hidden;
  width: 550px;
}
@media screen and (min-width: 768px) {
  .about__card {
    display: flex;
  }
}
.about__card-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  background: linear-gradient(-45deg, #0277bd, #1ea0eb);
}
@media screen and (min-width: 768px) {
  .about__card-inner-container {
    flex-direction: column;
  }
}
.about__avatar {
  width: 5.5rem;
  border-radius: 50%;
  background-color: white;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 2px 3px 1px rgba(37, 29, 29, 0.125), 0px 0px 5px 1px rgba(80, 80, 80, 0.05);
}
.about__avatar-headline {
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0;
  line-height: 1;
  padding: 1rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}
.about__blurb {
  font-size: 1.25em;
  max-width: 90vw;
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  text-align: left;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__container {
  width: 960px;
  max-width: 90vw;
  margin: 0 auto;
}
.about__skill-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}
.about__sub-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 4px 2px, rgba(0, 0, 0, 0.1) -2px 3px 8px;
}
.about__skill-item {
  margin: 1.25rem;
}

.about__github-grid {
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 280px;
  border-radius: 8px;
  margin: 0 auto 4rem;
  display: grid;
  grid-template-columns: 8fr 1fr;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 0.5rem -0.5rem;
}

.about__github-item {
  padding: 0.85rem;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  transition: background-color 125ms cubic-bezier(0.645, 0.045, 0.355, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin: 0;
}
.about__github-item svg {
  margin-right: 4px;
}
.about__github-item.right {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
.about__github-item:hover {
  background: rgba(255, 255, 255, 0.15);
}

.projects {
  background-color: #fdd835;
  color: white;
  padding: 50px 0;
}
.projects__container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}
@media (min-width: 768px) {
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2.5vw;
         column-gap: 2.5vw;
  }
}
.projects .section-heading {
  color: rgb(40, 40, 40);
  text-align: center;
}

.project {
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 10px 0.5rem -0.5rem rgba(0, 0, 0, 0.25);
  margin-bottom: 4rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.project__img {
  transition: all 325ms cubic-bezier(0.075, 0.82, 0.165, 1) 2ms;
  border-radius: 8px;
  position: relative;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.project__img:hover {
  transform: scale(0.975);
}
.project__links-container {
  display: flex;
  padding-left: 0.5rem;
}
.project__links-container .link {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.8125rem;
  line-height: 1.75;
  margin-right: 2em;
  text-transform: uppercase;
  padding: 0.75rem;
  border-radius: 0.25em;
  transition: all 325ms cubic-bezier(0.075, 0.82, 0.165, 1) 2ms;
}
.project__links-container .link:hover, .project__links-container .link:focus-visible {
  background-color: rgba(0, 0, 0, 0.125);
}
.project__details-container {
  padding-inline: 1rem;
}
.project__title {
  font-weight: 100;
  text-align: left;
  font-size: 1.75em;
}
.project__description {
  text-align: left;
}
.project__commits {
  text-transform: uppercase;
}
.project button,
.project span {
  margin-right: 1.5rem;
}

.contact {
  background: white;
  color: black;
  padding: 50px 0;
}
.contact__container {
  margin: 0 auto;
  max-width: 90vw;
  width: 800px;
}
.contact__heading {
  font-size: 2.7em;
}
.contact__submit-btn {
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-size: 1rem;
}
.contact__submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.24);
}
.contact__submit-btn:disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.contact .label {
  text-align: left;
  display: block;
  margin-bottom: 1.5rem;
}
.contact .input {
  border: none;
  border-bottom: 1px solid black;
  display: block;
  font-size: inherit;
  margin-top: 0.5em;
  width: 100%;
}

.footer {
  padding: 5vh 0;
  background: rgb(224, 224, 224);
}
.footer__link-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(1rem, 1fr));
  gap: 2.5rem;
  max-width: 400px;
  height: 100%;
}

.icon-link {
  height: 4rem;
}
.icon-link svg {
  height: 100%;
}
.icon-link svg path {
  height: 100%;
}/*# sourceMappingURL=App.css.map */