.App {
  position: relative;
  text-align: center;
  scroll-behavior: smooth;
}

.navbar {
  color: white;
  -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}

.nav__header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.nav__toggle-container {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.85);
  padding: 0.75rem 1rem;
}

.nav__menu {
  background: rgba(255, 255, 255, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-left: 1rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 125ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 125ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 125ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 125ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 125ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.nav__menu.is-open {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.nav__link {
  color: black;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 0.75rem;
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav__link:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.hero {
  position: relative;
  height: calc(100vh);
  background: center/cover no-repeat url("https://images.pexels.com/photos/2120040/pexels-photo-2120040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  color: white;
  -webkit-box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.425);
          box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.425);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  -webkit-animation: fadeInShadow 1250ms ease-out forwards 800ms;
          animation: fadeInShadow 1250ms ease-out forwards 800ms;
}

.hero__text-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .MuiTypography-h2 {
  color: rgba(255, 255, 255, 0.85);
}

.hero .MuiTypography-h5 {
  color: rgba(255, 255, 255, 0.35);
}

.hero aside {
  position: absolute;
  right: 2rem;
  bottom: 5rem;
}

@media screen and (max-width: 414px) {
  .hero aside {
    top: 15vh;
  }
}

.hero aside span {
  font-size: 1.75rem;
  color: rgba(255, 255, 255, 0.25);
  display: block;
  line-height: 1;
  font-family: monospace;
}

.hero aside small {
  position: absolute;
  right: 0;
  opacity: 0.5;
  font-weight: 500;
  font-family: monospace;
}

.hero__down-arrow {
  cursor: pointer;
  position: absolute;
  bottom: 8vh;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0.85;
  -webkit-filter: drop-shadow(0px 0px 1.5rem rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0px 0px 1.5rem rgba(255, 255, 255, 0.5));
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 1rem;
  border-radius: 50%;
}

.hero__down-arrow:hover, .hero__down-arrow:focus {
  border: 2px solid rgba(255, 255, 255, 0.15);
  opacity: 1;
  -webkit-transform: translate(-50%, -2px);
          transform: translate(-50%, -2px);
  background: black;
  -webkit-filter: none;
          filter: none;
}

.hero__down-arrow svg {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

@-webkit-keyframes fadeInShadow {
  0% {
    -webkit-box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.425);
            box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.425);
  }
  100% {
    -webkit-box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.825);
            box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.825);
  }
}

@keyframes fadeInShadow {
  0% {
    -webkit-box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.425);
            box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.425);
  }
  100% {
    -webkit-box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.825);
            box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.825);
  }
}

.html {
  background: center/contain no-repeat url("../assets/html-5.svg");
}

.css {
  background: center/contain no-repeat url("../assets/css-3.svg");
}

.sass {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/sass.svg");
}

.react {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/react.svg");
}

.typescript {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/typescript-icon.svg");
  border-radius: 10px;
}

.express {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/express.svg");
}

.javascript {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/javascript.svg");
  border-radius: 10px;
}

.npm {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/npm.svg");
}

.postgresql {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/postgresql.svg");
}

.firebase {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/firebase.svg");
}

.nodejs {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/nodejs.svg");
}

.about {
  padding: 4rem 0;
  background: white;
}

.about i.fas,
.about i.fab,
.about i {
  width: 3.4rem;
  height: 3.4rem;
  display: block;
  margin: 0 auto;
}

.about__card {
  max-width: 400px;
  margin: 0 auto 4rem;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 0.5rem -0.5rem, 0px 0px 5px 0px rgba(37, 29, 29, 0.125);
          box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 0.5rem -0.5rem, 0px 0px 5px 0px rgba(37, 29, 29, 0.125);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .about__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 550px;
  }
}

.about__card-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  width: 100%;
  background: linear-gradient(-45deg, #0277bd, #1ea0eb);
}

@media screen and (min-width: 768px) {
  .about__card-inner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__avatar {
  width: 5.5rem;
  border-radius: 50%;
  background-color: white;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(37, 29, 29, 0.125), 0px 0px 5px 1px rgba(80, 80, 80, 0.05);
          box-shadow: 0px 2px 3px 1px rgba(37, 29, 29, 0.125), 0px 0px 5px 1px rgba(80, 80, 80, 0.05);
}

.about__avatar-headline {
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0;
  line-height: 1;
  padding: 1rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.about__blurb {
  font-size: 16px;
  max-width: 90vw;
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  text-align: left;
  padding: 1rem;
}

.about__container {
  width: 960px;
  max-width: 90vw;
  margin: 0 auto;
}

.about__skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.about__skill-item {
  margin: 1.25rem;
}

.about__github-grid {
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 280px;
  border-radius: 8px;
  margin: 0 auto 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 1fr;
      grid-template-columns: 8fr 1fr;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 0.5rem -0.5rem;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 0.5rem -0.5rem;
}

.about__github-item {
  padding: 0.85rem;
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 125ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 125ms cubic-bezier(0.645, 0.045, 0.355, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.about__github-item:last-of-type {
  border: none;
}

.about__github-item svg {
  margin-right: 4px;
}

.about__github-item.right {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.about__github-item:hover {
  background: rgba(255, 255, 255, 0.15);
}

.projects {
  color: white;
  padding: 50px 0;
}

.projects__container {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .projects__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 5vw;
            column-gap: 5vw;
    padding-top: 2vw;
  }
}

.project__img {
  -webkit-transition: all 1225ms cubic-bezier(0.075, 0.82, 0.165, 1) 2ms;
  transition: all 1225ms cubic-bezier(0.075, 0.82, 0.165, 1) 2ms;
  border-radius: 8px;
  position: relative;
}

.project__img:hover {
  border-radius: 6px;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.project:hover p.MuiTypography-colorTextSecondary {
  color: rgba(0, 0, 0, 0.9);
}

.project:focus .project__img {
  border-radius: 6px;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

p.MuiTypography-colorTextSecondary {
  -webkit-transition: 200ms;
  transition: 200ms;
}

.contact {
  background: white;
  color: black;
  padding: 50px 0;
}

.contact__container {
  width: 800px;
  max-width: 90vw;
  margin: 0 auto;
}

.contact__heading {
  font-size: 2.7em;
}

.footer {
  padding: 5vh 0;
  background: #e0e0e0;
}
/*# sourceMappingURL=App.css.map */