@font-face {
  font-family: 'Recursive';
  src: url("../assets/fonts/recursive-MONO_CASL_wght_slnt_ital--2019_11_05-00_13.woff2") format("woff2-variations");
  font-weight: 100 300 500 700 900;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.App {
  font-family: 'Recursive', 'Roboto Mono', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-variant: normal;
  font-weight: 400;
  background-color: #333333;
  position: relative;
  text-align: center;
}

.nav__header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.nav__toggle-container {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__menu {
  background: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-left: 1rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.nav__menu.is-open {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.nav__link {
  color: black;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav__link:hover {
  color: #3523aa;
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

#nav__toggle {
  margin: 3vw;
}

.hero {
  height: calc(100vh);
  background: center/cover no-repeat url("https://images.pexels.com/photos/2120040/pexels-photo-2120040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  color: white;
  font-weight: 300;
  -webkit-box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  font-size: 3.7em;
}

.hero h1 {
  font-weight: 700;
}

.hero p {
  font-size: 0.5em;
  opacity: 0.7;
}

.hero__text-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.html {
  background: center/contain no-repeat url("../assets/html-5.svg");
}

.css {
  background: center/contain no-repeat url("../assets/css-3.svg");
}

.sass {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/sass.svg");
}

.react {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/react.svg");
}

.typescript {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/typescript-icon.svg");
  border-radius: 10px;
}

.express {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/express.svg");
}

.javascript {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/javascript.svg");
  border-radius: 10px;
}

.npm {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/npm.svg");
}

.postgresql {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/postgresql.svg");
}

.firebase {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/firebase.svg");
}

.nodejs {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/nodejs.svg");
}

.about {
  background: white;
  padding: 15vh 0;
}

.about i.fas,
.about i.fab,
.about i {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: 0 auto;
}

.about__heading {
  font-size: 2em;
}

.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.about__profile-picture {
  margin: 1.5rem 0;
  width: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 7px -3px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 7px -3px rgba(0, 0, 0, 0.7);
  -webkit-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out;
  background-blend-mode: color-burn;
}

.about__blurb {
  max-width: 500px;
  text-align: left;
  margin: 0 auto 2rem;
  background: rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.about__container {
  width: 960px;
  max-width: 90vw;
  margin: 0 auto;
}

.about__skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__skill-item {
  margin: 1rem;
}

.projects {
  padding: 15vh 0;
  color: white;
}

.projects__container {
  max-width: 90vw;
  margin: 0 auto;
}

@media (min-width: calc(768px + 10)) {
  .projects__container {
    display: -ms-grid;
    display: grid;
    background: red;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 8vw;
            column-gap: 8vw;
  }
}

.projects__heading {
  font-size: 2em;
  margin-bottom: 2rem;
}

.project__body {
  color: white;
  background: rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.project__body.triggered {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

.project__title {
  font-size: 1.75em;
  margin-bottom: 0.75rem;
}

.project__description {
  text-align: left;
  margin-bottom: 2rem;
}

.project__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  border-radius: 10px;
  margin: 1rem 0;
}

.project__img {
  width: 100%;
}

.project__github-icon {
  display: block;
  background-color: white;
  -webkit-mask-image: url("../assets/github.svg");
          mask-image: url("../assets/github.svg");
  -webkit-mask-position: 50% 50%;
          mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.project button {
  font-family: inherit;
  cursor: pointer;
  background: rgba(53, 35, 170, 0.5);
  padding: 0.25rem 1.5rem;
  border-radius: 50em;
  -webkit-box-shadow: 0 4px 10px -3px rgba(53, 35, 170, 0.9);
          box-shadow: 0 4px 10px -3px rgba(53, 35, 170, 0.9);
  -webkit-transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  border: 2px solid #3523aa;
}

.project button a {
  color: white;
  font-size: 1.5em;
}

.project button:hover {
  color: white;
  background: rgba(53, 35, 170, 0.65);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project button:active {
  background: rgba(53, 35, 170, 0.7);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact {
  background: #222;
  color: white;
}
/*# sourceMappingURL=App.css.map */