// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');
// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap');

@font-face {
  font-family: 'Recursive';
  src: url('../assets/fonts/recursive-MONO_CASL_wght_slnt_ital--2019_11_05-00_13.woff2')
    format('woff2-variations');
  font-weight: 100 300 500 700 900;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

$navBackground: rgba(246, 246, 246, 0);
$textLight: rgb(54, 54, 54);
$textDark: rgb(0, 0, 0);
$bgAbout: rgb(238, 238, 238);
$bgProjects: radial-gradient(
  circle,
  rgba(54, 53, 53, 1) 0%,
  rgba(27, 27, 27, 1) 100%
);
$bgContact: rgb(45, 52, 54);
$iconSizeLg: 6rem;
$iconSizeSm: 4rem;
$accentBlue: rgb(53, 35, 170);
$inset-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
$fontSet: 'Recursive', 'Roboto Mono', 'Roboto', 'Helvetica Neue', Helvetica,
  sans-serif;

.App {
  font-family: $fontSet;
  font-variant: normal;
  font-weight: 400;
  background-color: #333333;
  position: relative;
  text-align: center;
}

@import './nav';
@import './hero';
@import './about';
@import './projects';
@import './contact';
@import './footer';
