@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$navBackground: rgba(246, 246, 246, 0);
$textLight: rgb(54, 54, 54);
$textDark: rgb(0, 0, 0);
$bgAbout: rgb(238, 238, 238);
$bgProjects: radial-gradient(
  circle,
  rgba(54, 53, 53, 1) 0%,
  rgba(27, 27, 27, 1) 100%
);
$bgContact: rgb(45, 52, 54);
$iconSizeLg: 6rem;
$iconSizeSm: 4rem;
$accentBlue: rgb(53, 35, 170);

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  background-color: #333333;
  position: relative;
  text-align: center;
}

.nav-header {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  width: 100%;

  .nav-brand {
    text-align: center;
    padding: 0.5rem 1rem;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1rem;
  }
}

.nav-toggle {
  cursor: pointer;
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 1em;
  position: absolute;
  top: 0;
  left: 0;
  span {
    background: black;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 2px;
    position: absolute;
    width: 2rem;

    &::before,
    &::after {
      content: '';
      background: inherit;
      border-radius: 3px;
      cursor: pointer;
      display: block;
      height: 2px;
      position: relative;
      width: 2rem;
    }

    &::before {
      bottom: 7px;
    }

    &::after {
      top: 7px;
    }
  }
}

.hero {
  height: calc(100vh);
  background: center / cover no-repeat
    url('https://images.pexels.com/photos/2120040/pexels-photo-2120040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  color: white;
  font-weight: 100;
  box-shadow: inset 1000px 100px rgba(0, 0, 0, 0.85);
  font-size: 3.7rem;

  h1 {
    font-size: 3.7rem;
    font-weight: 100;
  }
  p {
    font-size: 2rem;
  }
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.profile-picture {
  margin: 1.5rem 0 2.5rem;
  width: 200px;
  border-radius: 50%;
  border: 4px solid;
  border-color: rgba(0, 0, 0, 0.45);
  transition: border-color 200ms ease-in-out;
}

.about-me {
  background: white;
  i.fas,
  i.fab,
  i {
    width: $iconSizeSm;
    height: $iconSizeSm;
    display: block;
    margin: 0 auto;
  }
}

.html {
  background: center / contain no-repeat url('./assets/html-5.svg');
}

.css {
  background: center / contain no-repeat url('./assets/css-3.svg');
}

.react {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/react.svg');
}

.express {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/express.svg');
}

.javascript {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/javascript.svg');
  border-radius: 10px;
}

.npm {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/npm.svg');
}

.postgresql {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/postgresql.svg');
}

.ruby {
  background: center / contain no-repeat url('./assets/ruby.svg');
}

.aws {
  background: center / contain no-repeat url('./assets/aws.svg');
}

.git {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/git-icon.svg');
}

.github {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/github.svg');
}

.slack {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/slack-icon.svg');
}

.jquery {
  background: center / contain no-repeat url('./assets/jquery.svg');
}

.nodejs {
  background: center / contain no-repeat
    url('https://cdn.svgporn.com/logos/nodejs.svg');
}

.project-pic {
  width: 100%;
  max-width: 500px;
}
