@font-face {
  font-family: 'Recursive';
  src: url("./assets/fonts/recursive-MONO_CASL_wght_slnt_ital--2019_11_05-00_13.woff2") format("woff2-variations");
  font-weight: 100 300 500 700 900;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Recursive', 'Roboto Mono', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-variant: normal;
  font-weight: 400;
  background-color: #333333;
  position: relative;
  text-align: center;
}

.nav__header {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
}

.nav__brand {
  text-align: center;
  padding: 0.5rem 1rem;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin-left: 1rem;
}

.hero {
  height: calc(100vh);
  background: center/cover no-repeat url("https://images.pexels.com/photos/2120040/pexels-photo-2120040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  color: white;
  font-weight: 300;
  -webkit-box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 50em 50em rgba(0, 0, 0, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  font-size: 3.7em;
}

.hero h1 {
  font-weight: 700;
}

.hero p {
  font-size: 0.5em;
  opacity: 0.7;
}

.hero__text-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about {
  background: white;
  padding: 15vh 0;
}

.about i.fas,
.about i.fab,
.about i {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: 0 auto;
}

.about__heading {
  font-size: 2em;
}

.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.about__profile-picture {
  margin: 1.5rem 0;
  width: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 7px -3px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 7px -3px rgba(0, 0, 0, 0.7);
  -webkit-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out;
}

.about__blurb {
  max-width: 500px;
  text-align: left;
  margin: 0 auto 2rem;
}

.about__container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.about__skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__skill-item {
  margin: 1rem;
}

.html {
  background: center/contain no-repeat url("./assets/html-5.svg");
}

.css {
  background: center/contain no-repeat url("./assets/css-3.svg");
}

.sass {
  background: center/container no-repeat url("https://cdn.svgporn.com/logos/sass.svg");
}

.react {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/react.svg");
}

.typescript {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/typescript-icon.svg");
  border-radius: 10px;
}

.express {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/express.svg");
}

.javascript {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/javascript.svg");
  border-radius: 10px;
}

.npm {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/npm.svg");
}

.postgresql {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/postgresql.svg");
}

.firebase {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/firebase.svg");
}

.nodejs {
  background: center/contain no-repeat url("https://cdn.svgporn.com/logos/nodejs.svg");
}

.project-pic {
  width: 100%;
  max-width: 500px;
}
/*# sourceMappingURL=App.css.map */